.root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);


}


* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   scrollbar-width: 6px;
   scrollbar-color: #3375e6 rgba(219, 219, 220, 0);
   transition: all .2s;
   scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    display: nones;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(219, 219, 220, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #3375e6;
    border-radius: 99999px;
  }
.dark-mode {
    background-color: black;
    color: white;
}

.img{
    width: 180px;
}

nav{
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;

}

.back-video{
    position: relative;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    bottom: 0;
}

nav img{
    width: 140px;
}

.nav-links{
    flex: 1;
    text-align: right;
    text-decoration: none;
    
}

.nav-links ul li {
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3375e6;
    display: block;
    margin: auto;
    transition: 0.3s;
    border: 10px;
    border-radius: 10px;
}


.nav-links ul li :hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
     font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    border-color: #3375e6;
    background-color: #3375e6;
    border-radius: 12px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.button1:hover{
    border: 1px solid white;
    background: white;
    color: #3375e6;
    transition: 1s;
  }

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 28px;
   }
   
   .text-box p{
       margin: 12px 0 30px;
       font-size: 11px;
       text-align: center;
       color: #fff;
   }

   .nav-links ul li{
    display: block;
   }

   .nav-links {
    position: absolute;
    background-color: #3375e6;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -220px;
    display: none;
    text-align: left;
    z-index: 2;
    transition: 1s;
   }

   .button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    border-color: #3375e6;
    background-color: #3375e6;
    border-radius: 12px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
 
   nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
   }

   nav .fa ul{
    padding: 30px;
   }
}

.our-services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.our-services-col{
    flex-basis: 31%;
    background: #000;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.our-services-col:hover{
    box-shadow: 0 0 20px 0px rgba(127, 116, 248, 0.85);
}

.our-services-col img{
    width: 140px;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }

    .meet-our-team-col{
        flex-basis: 7%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
}

.meet-our-team{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}



.meet-our-team-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.meet-our-team-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 0, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 38%;
    opacity: 1;
}

.showcases{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.showcases-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
} 

.showcases-col img{
    width: 100%;
    border-radius: 10px;
}

.showcases-col p{
    padding: 0;
    text-align: center;
}

.showcases-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(con.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* SOCIAL ICONS */
.social-icons {

}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}
 
.footer{
    background-color: #111;
}

.footerContainer{
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.socialIcons a:hover{
    color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
 
#preloader{
    background: #000 url(load.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 15%;
    position: fixed;
    z-index: 100;
}
 